*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}



#edu {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 4rem;
  
}

.mono {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


#wall {
  background-image: url("../img/wall.png");
  
}

#cork {
   background-image: url("../img/cork.png");
}

.overlay {
  
}