*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}



#edu {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 4rem;
  
}

.mono {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


#wall {
  background-image: url("../img/wall.png");
  
}

#cork {
   background-image: url("../img/cork.png");
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.size {
  width: 600px;
  height: 600px;
}

.fix {
  top: 80vh;
  left: 50vw;
  translate: -50% , -50%;
}

.immagine {
  cursor: pointer;
}

.inblock {
  display: block;
}

.none {
  display: none;
}


/* From Uiverse.io by Yashwanthnaini */ 
button {
 border: none;
 border-radius: 20px;
 background: linear-gradient(32deg,#ffe4b5,#ffd580 ,#87cefa ,#03a9f4);
 transition: all 1.5s ease;
 font-family: 'Ropa Sans', sans-serif;
 font-weight: bold;
 letter-spacing: 0.05rem;
 padding: 0;
 position: absolute;
 bottom: 13vh;


}

button span {
 display: inline-block;
 padding: 15px 35px;
 font-size: 17px;
 border-radius: 20px;
 background: #ffffff10;
 backdrop-filter: blur(20px);
 transition: 0.4s ease-in-out;
 transition-property: color;
 height: 100%;
 width: 100%;
}

button span:hover {
 backdrop-filter: blur(0px);
 color: #ffffff;
}